{
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "singleQuote": true,
    "semi": true,
    "useTabs": false,
    "tabWidth": 2,
    "printWidth": 170,
    "trailingComma": "all",
    "braceStyle": "stroustrup"
  }
  